extends layout

block content
  h1= title
  form(name="adddevelopment" action="/" method="post" accept-charset="utf-8")
    div
      div
        span.new Name:
        input(id="development_name",name="development_name",value="")
      div
        span.new Description
        textarea(id="description",name="description",row=2)
      div
        span.new Image path:
        input(id="imagepath",name="imagepath",value="")
      div
        span.new DevelopmentID:
        input(id="development_id",name="development_id",value="")
      div.submit
        input(name="submitbtn" type="submit" value="Add Development" class="btn")
